

        .body-initial {background-color: rgb(255, 255, 255);
        }
        .background-initial {background-color: rgb(255, 255, 255); top: 5px; left: 154px; width: 786px; height: 875px;
        }
        .silex-id-1691936427917-23 {top: 10px; left: 100px; height: 180px; width: 580px;
        }
        .silex-id-1691934003408-3 {top: 680px; left: 170px; height: 160px; width: 440px; display: flex;
        }
        .silex-id-1691933999357-2 {top: 780px; left: 620px; height: 64px; width: 64px;
        }
        .silex-id-1691933992980-1 {top: 680px; left: 620px; height: 64px; width: 64px;
        }
        .silex-id-1691934076333-4 {top: 630px; left: 360px; height: 30px; width: 80px;
        }
        .silex-id-1691934951526-9 {top: 280px; left: 270px; height: 1.4em; width: 52px;
        }
        .silex-id-1691934808162-7 {top: 280px; left: 80px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936300811-18 {top: 460px; left: 80px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936309202-19 {top: 550px; left: 190px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936758909-26 {top: 620px; left: 500px; height: 40px; width: 160px;
        }
        .silex-id-1691936788151-27 {top: 620px; left: 550px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936471980-24 {top: 210px; left: 40px; height: 395px; width: 740px;
        }
        .silex-id-1691936315581-20 {top: 280px; left: 450px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936326438-21 {top: 370px; left: 560px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936332775-22 {top: 460px; left: 450px; height: 1.4em; width: 52px;
        }
        .silex-id-1691936654418-25 {top: 460px; left: 540px; height: 1.4em; width: 52px;
        }
    